<!DOCTYPE HTML>
<html lang="en">
   <head>
      <title>My Profile</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Tapan Sharma: My Profile" />
      <!-- css -->
      <link href="/profile/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="/profile/css/cobox.css" rel="stylesheet" type="text/css">
      <link href="/profile/css/portfolio.css" rel="stylesheet" type="text/css" media="all">
      <link href="/profile/css/style.css" rel="stylesheet" type="text/css" media="all">
      <!-- /css -->
      <!-- fonts -->
      <link href='//fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>
      <!-- /fonts -->
   </head>
   <body id="chanakya-profile">
      <!-- Navigation Bar -->
      <div class="navbar-wrapper">
         <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse navbar-right">
                     <ul class="nav navbar-nav link-effect">
                       <li>
                         <a href="/">
                           <b>
                            <p style="color:red;">
                             Home
                           </p>
                           </b>
                         </a>
                       </li>
                       <li class="active">
                         <a href="#">
                           <b>
                             <p style="color:red;">Profile</p>
                           </b>
                         </a>
                       </li>
                       <li>
                         <a href="/projects">
                           <b>
                             <p style="color:red;">Projects</p>
                           </b>
                        </a>
                       </li>
                       <li>
                         <a href="/contactme">
                          <b>
                             <p style="color:red;">Contact</p>
                          </b>
                         </a>
                       </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </div>
      <!-- About -->
      <div class="about-me" id="about">
         <h3 class="text-center">"तत् त्वम् असि"</h3>
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-xs-12">
                  <div class="mydetails text-center">
                     <img class="img-circle img-responsive" src="/profile/images/man.jpg" alt="Generic placeholder image" width="200" height="200">
                     <h3>Tapan Sharma</h3>
                     <p>Software Engineer</p>
                     <a href="https://github.com/t6nand"><img src="/profile/images/githubicon.png" alt="github"></a>
                     <div class="social-icons">
                        <a href="https://www.facebook.com/01tapansharma"><span class="facebook"></span></a>
                        <a href="https://twitter.com/01tapansharma"><span class="twitter"></span></a>
                        <a href="https://www.linkedin.com/in/tapan-sharma-86159579"><span class="linkedin"></span></a>
                        <a href="https://plus.google.com/u/1/+TAPANSHARMA1"><span class="googleplus"></span></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-xs-12">
                  <div class="myskills">
                     <h3>A little about my background!<br>
                     </h3>
                     <hr>
                     <h2 align="center">
                           Professional Details
                     </h2>   
                     <hr>
                     <p class="currjob-text">
                        <b>November 2019 - Ongoing</b><br>
                        <b>Working Student: Artficial Intelligence</b>
                        at
                        <a href="https://www.itq.de/">
                           <b>ITQ GMBh</b>
                        </a><br>
                        <p>Currently working on a chatbot for Smart4i project being developed for the <a href="https://www.vdma.org/en/">VDMA</a>. Working on RASA, NLP and NLU for a highly agile and 
                        human conversation friendly bot which can perform vendor specific roles.</p>
                     </p>
                     <p class="job1-text">
                        <b>November 2015 - October 2018</b><br>
                        <b> Senior Multimedia Software Engineer </b>
                        at
                        <a href="http://www.roposo.com">
                           <b>Roposo</b>
                        </a><br>
                        <p>
                           Worked on the development of an "on-demand and highly scalable backend application" based on JAVA play framework and centered around AWS cloud computing environment in a microservices architecture. 
                           The application primarily focused on media processing tasks in a pipeline ranging from image resizing, cropping, object detection, blur detection, scoring images for originality, dominant hue detection, 
                           OCR and language detection, compression and transcoding. Specialised in JPEG block based compression, PNG compression based on the properties of the original PNG files, generating GIFs for users and,
                           WebP for generating images for usage over network on android and iOS app and web. Also worked on development of a highly scalable video transcoding pipeline for transcoding user uploaded videos to WebM (VP8 and VP9),
                           MP4 (H.264) and HEVC (H.265). This pipeline saved us costs as compared to the cloud based services to a great extent. Also worked on Audio processing tasks like Audio Normalization (Peak Normalization and EBU R.128 Normalization),
                           Channel trimming, transcoding (AAC - libfdk-aac and Ogg - libvorbis), Acoustics fingerprinting for palagarism detection.<br><br>
                        
                           <b>Key Tools, Libraries and Open Source utilities:</b>
                           <a href="http://opencv.org/">
                              <b>OpenCV</b>
                           </a>
                           ,
                           <a href="https://github.com/tesseract-ocr/">
                              <b>Tesseract OCR</b>
                           </a>
                           ,
                           <a href="http://www.imagemagick.org/script/index.php">
                              <b>Imagemagick</b>
                           </a>
                           ,
                           <a href="https://ffmpeg.org/">
                              <b>FFMPEG</b>
                           </a>
                           ,
                           <a href="https://exiftool.org/">
                              <b>EXIFTOOL</b>
                           </a><br>
                           <b>Programming Languages:</b>
                           <a href="https://www.playframework.com/">
                              <b> Java Play Framework</b>
                           </a>
                           , <b>C++</b>
                           , <b>Python</b>
                           , <b>Node.JS</b><br>
                           <b>Databases:</b>
                           <a href="https://neo4j.com/">
                              <b>Neo4j</b>
                           </a>
                           ,
                           <a href="https://www.mongodb.com/">
                              <b>MongoDB</b>
                           </a>
                           ,
                           <a href="https://www.postgresql.org/">
                              <b>PostgreSQL</b>
                           </a><br>
                           <b>Cloud Computing:</b> 
                           <a href="https://aws.amazon.com/">
                              <b>AWS</b>
                              </a>
                              <ul>
                                 <li style="text-indent :5em;">EC2</li>
                                 <li style="text-indent :5em;">Lambda</li>
                                 <li style="text-indent :5em;">SQS</li>
                                 <li style="text-indent :5em;">S3</li>
                                 <li style="text-indent :5em;">SNS</li>
                                 <li style="text-indent :5em;">DynamoDB</li>
                                 <li style="text-indent :5em;">CloudFront</li>
                                 <li style="text-indent :5em;">ECS</li>
                                 <li style="text-indent :5em;">CloudWatch</li>
                                 <li style="text-indent :5em;">AutoScaling</li>    
                              </ul>
                        </p>
                     </p>
                     <hr>
                        <h2 align="center">
                           Education Background
                        </h2>
                     <hr>
                     <p class="master-text">
                        <b>October 2018 - Ongoing</b><br>
                        Masters student enrolled at the 
                        <a href="https://www.tum.de/">
                           <b>Technische Universität München</b>
                        </a>
                        <a href="https://www.msce.ei.tum.de/home/">
                           MSCE
                        </a>
                         program.
                     </p>
                     <p class="bacholer-text">
                        <b>June 2011 - May 2015</b><br>
                        Bachelor of Technology (B.Tech.) in Electronics and Communication Engineering from
                        <a href="https://nith.ac.in/">
                           <b>National Institute of Technology, Hamirpur</b>
                        </a>
                     </p>
                     
                     <hr>
                     <h2 align="center"> 
                        Technical Skills
                     </h2>
                     <hr>
                     <div class="skill-info">
                        <div class="table-responsive">
                           <table class="table" role="presentation">
                              <tbody>
                                 <tr>
                                    <td>
                                       <h4>Machine Learning</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Python</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>NumPy, SciPy, Pandas, Matplotlib</h4>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Matlab</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Tensorflow</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>JAVA</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>C++</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Node.js</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Bash</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Relational DBs - MySQL and PostgreSQL</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>NoSQL DBs - MongoDB, AWS DynamoDB</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <h4>Graphical DBs - Neo4J</h4>
                                    </td>
                                 </tr>
                                 <tr>
                                       <td>
                                          <h4>Redis</h4>
                                       </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- js files -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/profile/js/bootstrap.min.js"></script>

      <!-- /js files for banner slider -->
      <!-- js files for portfolio -->
      <script src="/profile/js/classie.js"></script>
      <script src="/profile/js/helper.js"></script>
   </body>
</html>
